In [5]:
#Question 1
a=0

def  b(): 
    global  a 
    a  = c(a) 
    print(a)
    
def  c(a): 
    return  a  +  2

In [6]:
#Question 1 Explanation

b()
b()
b()
a

#It is important to note that function b(), holds a reference to the global variable a, a will retain any value assigned to it in function b
#
# At first function call b()
# a =0, the call c(a) evaluates to return (0 +2) =2; this is then assigned to a in function b. hence print(a) prints 2. 
# this makes the global variable a = 2 at the end of this call
#
#At second function call b()
# a =2, the call c(a) evaluates to return (2 +2) =4; this is then assigned to a in function b. hence print(a) prints 4. 
# this makes the global variable a = 4 at the end of this call
#
#At third function call b()
# a =4, the call c(a) evaluates to return (4+2) =6; this is then assigned to a in function b. hence print(a) prints 6. 
# this makes the global variable a = 6 at the end of this call
#
# At the end of the thrid function call b(), a =6 hence the reason a outputs 6 to the console

2
4
6

6

In [14]:
#Question 2

def fileLength(fileName):
    try:
        infile = open(fileName)
        content = infile.readlines()
        print(len(content));
        
    except FileNotFoundError:
        print ("File " + fileName + " not found")
    except:
        print("An unknown error occured. Please try again later")
        
    
fileLength('midterm.py')

File midterm.py not found

In [15]:
#Question 3
class  Marsupial:
    
    def __init__(self):
        self.l= []
        
    def put_in_pouch(self,x):
        self.l.append(x)
        
    def pouch_contents(self):
        print(self.l)

In [16]:
>>> m= Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [19]:
class Kangaroo(Marsupial):
    
    def __init__(self,x,y):
        Marsupial.__init__(self) 
        self.x= x
        self.y=y
        
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
    
    def __str__(self):
        return 'I am a Kangaroo at points ({}, {})'.format(self.x, self.y)

In [20]:
>>> k  =  Kangaroo(0,0)
>>> print(k) 
>>> k.put_in_pouch('doll') 
>>> k.put_in_pouch('firetruck') 
>>> k.put_in_pouch('kitten') 
>>> k.pouch_contents()
>>> k.jump(1,0) 
>>> k.jump(1,0) 
>>> k.jump(1,0) 
>>> print(k)

I am a Kangaroo at points (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo at points (3, 0)

In [29]:
#Question 4

def collatz(x):
    print(x)
    
    if x == 1:
        return
    
    if x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)
        
print("Collatz(1) is: ")
collatz(1)
print()
print("Collatz(10) is: ")
collatz(10)

Collatz(1) is:
1

Collatz(10) is:
10
5
16
8
4
2
1

In [43]:
#Question 5
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')

binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)
print()

0
1
11
1001

In [9]:
#Question 6

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.current_heading = ""

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag)==2:
            self.current_heading = tag[1:]

    def handle_data(self, data):
        if self.current_heading.strip():
            self.headings.append((self.current_heading, data))
            self.current_heading='';

    def printOut(self):
        indent = {'1': 0, '2': 1, '3': 2, '4': 3, '5': 4, '6': 5}
        for indentCount, data in self.headings:
            print(" " * indent[indentCount] + data)
try:
    infile = open('w3c.html') 
    content = infile.read() 
    infile.close() 
    hp = HeadingParser() 
    hp.feed(content) 
    hp.printOut()
except FileNotFoundError:
        print ("File not found")
except:
        print("An unknown error occured. Please try again later")

W3C Mission
 Principles

In [34]:
#Question 8
import sqlite3
con = sqlite3.connect('seasons.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS Temperature (City text, Country text, Season text,Temperature decimal(18,2),Rainfall decimal(18,2))")
cur.execute("INSERT INTO Temperature VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO Temperature VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO Temperature VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO Temperature VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO Temperature VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO Temperature VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO Temperature VALUES ('London', 'United Kingdom', 'Summer', 15.7, 159.0)")
cur.execute("INSERT INTO Temperature VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO Temperature VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO Temperature VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO Temperature VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO Temperature VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")


#8a
cur.execute("Select * from Temperature")
list= cur.fetchall()
print('City \t Country \t Season \t Temperature \t Rainfall')
print(*list, sep = "\n")
print()


#8b
cur.execute("Select distinct City from Temperature")
list= cur.fetchall()
print('City')
print(*list, sep = "\n")
print()

#8c
cur.execute("Select * from Temperature where country ='India'")
list= cur.fetchall()
print('City \t Country \t Season \t Temperature \t Rainfall')
print(*list, sep = "\n")
print()


#8d
cur.execute("Select * from Temperature where season ='Fall'")
list= cur.fetchall()
print('City \t Country \t Season \t Temperature \t Rainfall')
print(*list, sep = "\n")
print()

#8e
cur.execute("Select City,Country,Season from Temperature where rainfall between 200 and 400")
list= cur.fetchall()
print('City \t Country \t Season')
print(*list, sep = "\n")
print()


#8f
cur.execute("Select City,Country from Temperature where temperature>20 order by temperature")
list= cur.fetchall()
print('City \t Country')
print(*list, sep = "\n")
print()

#8g
cur.execute("Select sum(rainfall) from Temperature where city='Cairo'")
list= cur.fetchall()
print('Annual Rainfall For Cairo ')
print(*list, sep = "\n")
print()

#8h
cur.execute("Select season,sum(rainfall) from Temperature group by season")
list= cur.fetchall()
print('Season \t Total Rainfall')
print(*list, sep = "\n")
print()

City 	 Country 	 Season 	 Temperature 	 Rainfall
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 159)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

City
('Mumbai',)
('London',)
('Cairo',)

City 	 Country 	 Season 	 Temperature 	 Rainfall
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)

City 	 Country 	 Season 	 Temperature 	 Rainfall
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

City 	 Country 	 Season
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

City 	 Country
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Mumbai', 'India')
('Mumbai', 'India')
('Cairo', 'Egypt')
('Mumbai', 'India')
('Mumbai', 'India')

Annual Rainfall For Cairo
(27.6,)

Season 	 Total Rainfall
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1708.5)
('Winter', 230.1)

In [49]:
#Question 9
words  =  ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 'the',  'lazy',  'dog'] 

#9a
expression= [word.upper() for word in words]
print(expression)
print()

#9b
expression= [word.lower() for word in words]
print(expression)
print()

#9c
expression= [len(word) for word in words]
print(expression)
print()

#9d
expression= [[word.upper(),word.lower(),len(word)] for word in words]
print(expression)
print()

#9e
expression= [word for word in words if len(word)>=4]
print(expression)
print()

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

[3, 5, 5, 3, 5, 4, 3, 4, 3]

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

['quick', 'brown', 'jumps', 'over', 'lazy']